<footer class="footer py-3">
  <div class="container-fluid">
    <p>Developed by Yusuf Muhammad Zakar in partial fuilfilment OF THE REQUIREMENT FOR THE
      AWARD OF BACHELOR OF SCIENCE (B.Sc.) DEGREE IN SOFTWARE
      ENGINEERING.</p>
  </div>
</footer>
</body>

</html>