  <div class="pb-60">
    <div class="d-flex flex-nowrap">
      <div class="sidebar border border-right col-md-3 p-3 bg-body-tertiary">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/manage/departments" class="nav-link side-nav-link" aria-current="page">
              Departments
            </a>
          </li>
          <li>
            <a href="/manage/subjects" class="nav-link side-nav-link">
              Subjects
            </a>
          </li>
          <li>
            <a href="/manage/syllabuses" class="nav-link side-nav-link">
              Syllabuses
            </a>
          </li>
          <hr>
          <li>
            <a href="/manage/notes" class="nav-link side-nav-link">
              Notes
            </a>
          </li>
          <li>
            <a href="/manage/question-papers" class="nav-link side-nav-link">
              Exam Question Papers
            </a>
          </li>
          <hr>
          <li>
            <a href="/manage/users" class="nav-link side-nav-link">
              Users
            </a>
          </li>
        </ul>
      </div>