<%- include("partials/header"); %>
<form class="add-note px-3 my-3 text-left">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <small id="contentHelp" class="form-text text-muted">(*)</small>
    <input type="text" class="form-control" name="title" id="title" required>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <small id="contentHelp" class="form-text text-muted">(*)</small>
    <input type="link" class="form-control" name="link" id="link" required>
  </div>
  <div class="mb-3">
  <label for="subject" class="form-label">Subject</label>
  <select name="subject" id="subject" class="form-select" aria-label="Select subject">
    <% subjects.forEach(subject => { %>
    <option value="<%= subject.id%>"><%= subject.name%></option>
    <% }); %>
  </select>
  </div>
  <div class="mb-3">
    <label for="module" class="form-label">Module</label>
    <small id="contentHelp" class="form-text text-muted">(*)</small>
    <input type="number" class="form-control" name="module" id="module" min=1 max=5 required>
  </div>
  <button class="btn btn-secondary" type="submit">Submit</button>
</form>
<%- include("partials/footer"); %>