<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
<h1 class="heading text-center">Register</h1>
<div class="row">
    <div class="col-lg-6 pb-5 mx-auto">
      <% if(errorMessage) {%>
      <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
      </div>
      <% } %>

      <div class="card auth-card">
        <div class="card-body">
        
            <form class="needs-validation mb-4" action="/register" id="registration" method="POST" novalidate>
            <div class="form-floating mb-3">
                <input class="form-control" id="username" name="username" placeholder="UserName" pattern="\w+" required>
                <label for="username">User Name</label>
                <small id="contentHelp" class="form-text text-muted">Please only use a combination of lowercase letters, numbers and underscore</small>
                <div class="invalid-feedback"></div>
                <div id="hiddenUsers" class="invisible" data-usernames="<%= JSON.stringify(usernames)%>"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
            
                <fieldset>
                    <p class="radio mb-2">Please select your role:</p>
                    <div>
                    <input type="radio" id="student" name="role" value="student" checked />
                    <label for="student" class="radio">Student</label>
                    <input type="radio" id="teacher" name="role" value="teacher" />
                    <label for="teacher" class="radio">Lecturer</label>
                    <input type="radio" id="admin" name="role" value="admin" />
                </fieldset>
            </div>
            
            <button class="btn btn-dark d-flex gap-2 align-items-center" id="submit" type="submit" name="button">
              <i class="fa-solid fa-lock"></i>
              <p>Create Account</p>
            </button>
          </form>
          <hr>
          <p style="text-align: center;">Already have an account? <a href="/login">Login</a></p>
        </div>
      </div>
    </div>
</div>
<script src="/registerValidation.js"></script>

</div>
<%- include("partials/footer"); -%>