:root{
    --darkBlue: #333652;
    --lilac: #D3BBDD;
    --pewter: #E9EAEC;
    --blueGray: #90ADC6;
    --white: #fefefe;
    --black: #2b2b2b;
}

#profile{
    padding: 5rem;
    margin: auto;
}

.icon{
    font-size: 2rem;
    padding: 5rem 3rem 2rem;
}

#title{
    padding: 6rem;
    text-align: center;
}

.text-center{
    text-align: center;
}

#features{
    background-color: var(--blueGray);
    padding: 3rem;
}

#departments{
    padding: 3rem;
}

#bookmarks{
    padding: 2rem;
}

.features-title{
    font-size: 2rem;
    padding: 0 3rem 2rem;
}


.main-heading{
    font-size: 4rem;
    line-height: 1.5;
}

.radio{
    margin-right: 3rem;
    font-size: 1rem;
}

body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: relative;
    min-height: 100vh;
}

.container-fluid {
    padding: 0 5%;
}

.content-wrap {
    padding-bottom: 75px;
}

h1, h2, h3, p{
    color: var(--darkBlue);
}

.nav-link {
    color: var(--pewter);
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #212529;
}

.footer p {
    font-size: 0.8rem;
    color: #f1f1f1;
}

.heading{
    margin: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}

.feature{
    text-align: center;
}

.syllabus, .notes, .qps{
    padding: 2rem;
}

.card{
    background-color: var(--pewter);
    margin: 2rem 1rem 1rem;
    text-align: left;
    padding: 2rem;
}

.profile-card{
    /* padding: 10rem; */
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 2rem;
}

.card-text{
    font-size: 1.2rem;
}

.btn{
    background-color: var(--blueGray);
    color: var(--black);
    margin: 0.5rem;
}

.btn:hover{
    color: var(--black);
    background-color: var(--lilac);
}

.delete{
    background-color: #7d1919;
    color: var(--white);
}

.delete:hover{
    background-color: #cf2223;
    color: var(--white);
}

.tags{
    background-color: var(--lilac);
    margin: 0.1rem;
}

.i{
    margin: 0;
    padding: 0;
}

.bookmark{
    margin-left: 0.5rem;
    text-align: right;
}

.fa-star{
    color: var(--blueGray);
}

.bookmark-btn:hover{
    color: #cfa818;
}

.bookmark-delete-btn {
    color: #641717;
}

.bookmark-delete-btn:hover {
    color: #c84848;
}
/* table, th, td {
    margin: auto;
    margin-top: 4rem;
    border: 1px solid;
    padding: 2rem;
} */